.showing_comitts {
  position: relative;
  top: 65px;
  left: 10px;
}

.commits_count {
  position: relative;
  top: 0;
  left: 25px;
}

.commits_table {
  position: relative;
  top: 20px;
  left: 0;
  width: 100%;
}

table tr:nth-child(odd){
  background:#d9d9d9;
}

table tr:nth-child(even){
  background:#FFFFFF;
}

.contributor {
  position: relative;
  top: 60px;
  left: 43px;
  display: flex;
  align-items: center;
}

.contributor_rank {
  font-size: 50px;
}

.contributor_avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.contributor_name {
  font-size: 50px;
}

.commit_table-row {
  height: 41px;
  font-size: 1.3em;
}

.commit_hash {
  vertical-align: middle;
  width: 90px;
}

.commit_since {
  vertical-align: middle;
  width: 130px;
}

.commit_message_row {
  vertical-align: middle;
}

.commit_message {
  width: 700px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 480px) {
  .contributor {
    position: relative;
    top: 55px;
    left: 23px;
    vertical-align: middle;
  }

  .contributor_rank {
    font-size: 30px;
  }

  .contributor_avatar {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: 0 10px;
  }
  
  .contributor_name {
    font-size: 30px;
  }

  .commits_count {
    position: relative;
    top: -10px;
    left: 15px;
  }

  .commits_table {
    position: relative;
    top: 20px;
    left: -5px;
  }

  .commit_table-row {
    font-size: 15px;
    width: 570px;
    line-height: 0.8;
  }

  .commit_since {
    vertical-align: middle;
  }
  
  .commit_message {
    width: 460px;
  }
  .commit_since-text {
    width: 100px;
  }
}
