.period_title {
  position: relative;
  top: 75px;
  left: 30px;
  font-size: 50px;
}

.showing_contributors {
  position: relative;
  top: 65px;
  left: 10px;
}

.contributors_count {
  position: relative;
  top: 0;
  left: 25px;
}

.contributors_table {
  position: relative;
  top: 20px;
  left: 0;
  width: 100%;
}

.contributors_table tr:nth-child(odd){
  background:#d9d9d9;
}

.contributors_table tr:nth-child(even){
  background:#FFFFFF;
}

.table_header {
  background: #FFFFFF;
}

.table_data_rank {
  vertical-align: middle;
  width: 25px;
}

.table_data_contributors-info {
  width: 215px;
}

.table_data_graph {
  vertical-align: middle;
}

.contributors_horizontal_bar {
  content: '';
  display: block;
  background: #55daf5;
  height: 30px;
}

.contributors_commits {
  vertical-align: middle;
}

.contributors_info {
  display: flex;
  width: 230px;
  margin-right: 5px;
}

.contributors_avatar {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  position: relative;
  top: 4px;
  left: 0;
}

.contributors_name {
  position: relative;
  top: 0;
  left: 3px;
  font-size: 20px;
}

.contributors_since {
  position: relative;
  top: 0;
  left: 40px;
  font-size: 13px;
}

@media screen and (max-width: 480px) {
  .period_title {
    position: relative;
    top: 45px;
    left: 20px;
    font-size: 25px;
  }
  
  .showing_contributors {
    position: relative;
    top: 45px;
    left: -5px;
  }
  
  .contributors_count {
    position: relative;
    top: 0;
    left: 25px;
  }
  
  .contributors_table {
    position: relative;
    top: 10px;
    left: 0;
    width: 570px;
  }
  
  .contributors_table tr:nth-child(odd){
    background:#d9d9d9;
  }
  
  .contributors_table tr:nth-child(even){
    background:#FFFFFF;
  }
  
  .table_header {
    background: #FFFFFF;
  }

  .table_header-name {
    position: relative;
    top: 0;
    left: 5px;
  }

  .table_header-commits_count {
    position: relative;
    top: 0;
    left: -20px;
  }
  
  .table_data_rank {
    vertical-align: middle;
    width: 25px;
    position: relative;
    top: 0;
    left: 8px;
  }
  
  .table_data_contributors-info {
    width: 215px;
  }
  
  .table_data_graph {
    vertical-align: middle;
    position: relative;
    top: 0;
    left: -20px;
  }
  
  .contributors_horizontal_bar {
    content: '';
    display: block;
    background: #55daf5;
    height: 30px;
  }
  
  .contributors_commits {
    vertical-align: middle;
  }
  
  .contributors_info {
    display: flex;
    width: 230px;
    margin-right: 5px;
  }
  
  .contributors_avatar {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    position: relative;
    top: 4px;
    left: 4px;
  }
  
  .contributors_name {
    position: relative;
    top: 0;
    left: 7px;
    font-size: 18px;
  }
  
  .contributors_since {
    position: relative;
    top: 0;
    left: 40px;
    font-size: 11px;
  }
}
