.modal_this_site_title {
  font-size: 20px;
  font-weight: bold;
}

.modal_sub-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 12px;
}

.modal_sentence {
  line-height: 28px;
}

.modal_outer_links {
  display: flex;
  width: 150px;
}

.modal_outer_link {
  margin: 0 5px;
  width: 30px;
  height: 30px;
}
