.hero {
  height: 47px;
  width: 100%;
}

.main-header {
  position: relative;
}

.main-header_title {
  font-family: 'Varela Round', sans-serif;
  font-size: 36px;
  position: absolute;
  top: -50px;
  left: -40px;
  display: flex;
}

.main-header_title-icon {
  position: relative;
  top: 6px;
  height: 40px;
  width: 40px;
}

.main-header_outer-links {
  display: flex;
  align-items: flex-end;
  font-size: 18px;
  position: relative;
  top: 18px;
}

.level-left {
  position: absolute;
  top: -45px;
  left: 650px;
}

.level-item {
  color: #FFFFFF;
  margin: 0 10px;
}

.level-item_button {
  color: #FFFFFF;
}

.header-menu {
  color: black;
}

.navigation_menu {
  position: absolute;
  top: 48px;
  left: 1px;
}

.navigation-item {
  width: 162px;
}

.navigation-item_link {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search_contributor {
  width: 400px;
  display: flex;
}

.search {
  width: 250px;
  height: 2.6em;
  padding: 0 16px;
  border-radius: 7px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
}

.serach_button {
  margin: 0 1px;
  position: relative;
  bottom: 0;
  right: 0;
}

.button {
  background: hsl(171, 99%, 44%);
  color: #FFFFFF;
}

@media screen and (max-width: 480px) {
	.hero {
    height: 70px;
    width: 570px;
  }
  
  .main-header {
    position: relative;
  }
  
  .main-header_title {
    font-family: 'Varela Round', sans-serif;
    font-size: 22px;
    position: absolute;
    top: -46px;
    left: -20px;
    display: flex;
  }
  
  .main-header_title-icon {
    position: relative;
    top: 3px;
    height: 20px;
    width: 20px;
  }

  /* チェックボックスを非表示にする */
  .drawer_hidden {
    display: none;
  }

  /* ハンバーガーアイコンの設置スペース */
  .drawer_open {
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
    top: -35px;
    left: -23px;
  }

  /* ハンバーガーメニューのアイコン */
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }

  /* 三本線の一番上の棒の位置調整 */
  .drawer_open span:before {
    bottom: 8px;
  }

  /* 三本線の一番下の棒の位置調整 */
  .drawer_open span:after {
    top: 8px;
  }

  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
  }

  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  
  .level-left {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%; /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: #fff;
    transition: .5s;
  }

  #drawer_input:checked ~ .level-left {
    left: 0;/* メニューを画面に入れる */
  }

  .level-item {
    list-style: none;
    color: #000000;
  }

  .level-item_button {
    color: #000000;
  }

  .header-menu {
    color: black;
  }
  
  .navigation_menu {
    position: absolute;
    top: 70px;
    left: 1px;
  }
  
  .navigation-item {
    width: 85px;
    font-size: 13px;
  }
  
  .navigation-item_link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .search_contributor {
    width: 200px;
    position: absolute;
    top: -35px;
    left: 43px;
  }
  
  .search {
    width: 330px;
    height: 2.4em;
    padding: 0 5px;
    border-radius: 7px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    background: #FFFFFF;
  }

  .button {
    background: hsl(209, 99%, 44%);
    color: #FFFFFF;
    height: 31px;
    width: 48px;
    font-size: 13px;
  }
}
